<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex, nofollow">

    {% block title %}
    
    {% endblock %}

    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet" />
    
    </head>
    <body class="d-flex flex-column h-100">
   
    <div class="container">
        <div class="row">

              {% block content %}
              {% endblock %}

            </div>
    </div> 
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
                <span class="text-muted"><small> © Created by Ilia Nikitin</small> </span>
            </div>
        </footer>
    <script defer src="{{ url_for('static', path='/js/jquery-3.6.0.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/bootstrap.bundle.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/main.js') }}"></script>
    </body>
</html>

