{% extends "shared/base.html" %}

{% block title %}
  <title>Search engine by Ilia Nikitin</title>
{% endblock %}

{% block content %}

{% include "components/search-box.html" %}

<div id="result"></div>

{% endblock %}
