<div aria-live="polite" aria-atomic="true">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast hide text-white bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                Документ # {{id | safe}} удален из базы и поискового индекса!
            </div>
        </div>
    </div>
</div>
