<div id="{{obj.id}}" class="serp mt-4 text-justify float-left">
    <svg class="remove" data-id="{{obj.id}}" enable-background="new 0 0 512.001 512.001" viewBox="0 0 512.001 512.001" xmlns="http://www.w3.org/2000/svg">
        <path d="m256.001 512c141.384 0 255.999-114.615 255.999-256.001.001-141.384-114.614-255.999-255.999-255.999s-256 114.615-256 256.001 114.615 255.999 256 255.999z" fill="#ff6465" />
        <path
            d="m68.873 256.001c0-129.706 96.466-236.866 221.564-253.688-11.265-1.515-22.756-2.313-34.436-2.313-141.385 0-256 114.615-256 256.001s114.615 256 255.999 256c11.68 0 23.171-.798 34.436-2.313-125.097-16.823-221.563-123.983-221.563-253.687z"
            opacity=".1"
        />
        <path
            d="m313.391 256.001 67.398-67.398c4.899-4.899 4.899-12.842 0-17.74l-39.65-39.65c-4.899-4.899-12.842-4.899-17.74 0l-67.398 67.398-67.398-67.398c-4.899-4.899-12.842-4.899-17.74 0l-39.65 39.65c-4.899 4.899-4.899 12.842 0 17.74l67.398 67.398-67.398 67.398c-4.899 4.899-4.899 12.842 0 17.741l39.65 39.65c4.899 4.899 12.842 4.899 17.74 0l67.398-67.398 67.399 67.398c4.899 4.899 12.842 4.899 17.74 0l39.65-39.65c4.899-4.899 4.899-12.842 0-17.741z"
            fill="#fff"
        />
    </svg>
    <ul>
        <li><strong>Документ # {{obj.id}}</strong></li>
        <p>{{obj.texts}}</p>
        <li><strong>Дата создания</strong></li>
        <p>{{obj.created_date}}</p>
        <li><strong>Рубрики</strong></li>
        <p>
            {% for rubric in obj.rubrics %} {{rubric}} {{ "," if not loop.last }} {% endfor %}
        </p>
    </ul>
</div>
